:root, html[data-theme="dark"] {
    --font-heading: "matter-semibold", "arial", "helvetica", "sans-serif";
    --font-body: "matter", "arial", "helvetica", "sans-serif";
    --primary: #fcdbe4;
    --primary-dark: #f91c9a;
    --border-primary: #fff;
    --border-secondary: #f91c9a;
    --border-tertiary: #ffffff;
    --p-bg: #fcdbe4;
    --bg-01: #fcdbe4;
    --bg-02: #ffc3c3;
    --bg-03: #fcdbe4;
    --bg-card: #ffffff;
    --bg-card-hover: rgba(255, 255, 255, .7);
    --bg-card-secondary: #fcdbe4;
    --bg-card-secondary-hover: #f1f1f1;
    --bg-form: #cccccc;
    --bg-input: #ffffff;
    --bg-search: #ffffff;
    --secondary: #00e0b9;
    --tertiary: #4e3689;
    --txt-primary: #05121B;
    --txt-secondary: #05121B;
    --txt-hover: #05121B;
    --txt-inverted: #fff;
}
