@import url(./search.css);
@import url(./fonts.css);
@import url(./editorial.css);
@import url(./table.css);


:root, html[data-theme="light"] {
  --primary: #00e0b9;
  --primary-dark: #00e0b9;
  --border-primary: #ffcde5;
  --border-secondary: #f3f3f3;
  --border-tertiary: #cdc7c3;
  --p-bg: #fff;
  --bg-01: rgba(255,255,255,.8);
  --bg-02: rgba(53, 115, 110, 1);
  --bg-03: rgba(29, 60, 67, 1);
  --bg-card: rgba(255, 255, 255, .1);
  --bg-card-hover: rgba(255, 255, 255, .05);
  --bg-card-secondary: rgba(255, 255, 255, .1);
  --bg-card-secondary-hover: #05121B;
  --bg-form: #cccccc;
  --bg-input: rgba(255, 255, 255, .1);
  --bg-search: rgba(53, 115, 110, .95);
  --secondary: #ffcde5;
  --tertiary: #4e3689;
  --txt-hover: #ffffff;
  --txt-primary: #000;
  --txt-secondary: #ffcc77;
  --txt-inverted: #05121B;
  --black: #05121B;
  --card-inner: 0;
  --gap-sm: 8;
  --todo: #ffcde5;
  --doing: #4e3689;
  --done: #00e0b9;
  --request: #ffcde5;
  --approved: #00e0b9;
  --rejected: #4e3689;
}

html[data-theme="indigo"] {
  --p-bg: #070a1b;
  --primary: #00e0b9;
  --primary-dark: #00e0b9;
  --border-primary: #ffcde5;
  --border-secondary: #f3f3f3;
  --border-tertiary: #cdc7c3;
  --bg-01: rgba(255,255,255,.8);
  --bg-02: rgba(53, 115, 110, 1);
  --bg-03: rgba(29, 60, 67, 1);
  --bg-card: rgba(255, 255, 255, .1);
  --bg-card-hover: rgba(255, 255, 255, .05);
  --bg-card-secondary: rgba(255, 255, 255, .1);
  --bg-card-secondary-hover: #05121B;
  --bg-form: #cccccc;
  --bg-input: rgba(255, 255, 255, .1);
  --bg-search: rgba(53, 115, 110, .95);
  --secondary: #ffcde5;
  --tertiary: #4e3689;
  --txt-hover: #ffffff;
  --txt-primary: rgba(255,255,255,.8);
  --txt-secondary: #ffcc77;
  --txt-inverted: #05121B;
  --black: #05121B;
}

html[data-theme="pink"] {
  --primary: #fcdbe4;
  --primary-dark: #f91c9a;
  --border-primary: #fcdbe4;
  --border-secondary: #f91c9a;
  --border-tertiary: #ffffff;
  --p-bg: #fcdbe4;
  --bg-01: #fcdbe4;
  --bg-02: #ffc3c3;
  --bg-03: #fcdbe4;
  --bg-card: #ffffff;
  --bg-card-hover: rgba(255, 255, 255, .7);
  --bg-card-secondary: #fcdbe4;
  --bg-card-secondary-hover: #f1f1f1;
  --bg-form: #cccccc;
  --bg-input: #ffffff;
  --bg-search: #ffffff;
  --secondary: #00e0b9;
  --tertiary: #4e3689;
  --txt-primary: #05121B;
  --txt-secondary: #05121B;
  --txt-hover: #05121B;
  --txt-inverted: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply py-12;
  }

  h2 {
    @apply text-xl;
    @apply py-4;
  }

  h3 {
    @apply text-lg;
    @apply py-4;
  }
}

html,
body {
  font-size: 16px;
  font-family: matter, arial, sans-serif;
}

input:focus-visible {
  @apply outline-none;
}

input[type="search"] {
  -webkit-appearance: none;
}

.internal-link h4, .internal-link h2, h2.internal-link, h4.internal-link, .external-link {
  border-bottom: 1px solid transparent;
  display: inline;
}

.internal-link:hover h2, h2.internal-link:hover, .external-link:hover {
  border-bottom: 1px solid var(--border-primary);
}

.internal-link:hover h2:after, h2.internal-link:hover:after {
  padding-left: 10px;
  content: "\2192";
}

.internal-link:hover h4, h4.internal-link:hover {
  border-bottom: 1px solid var(--border-primary);
}

.internal-link:hover h4:after {
  padding-left: 6px;
  content: "\2192";
}

.internal-link:hover:after {
 /*padding-left: 10px;*/
 /* content: "\2192";*/
}

.field input {
  background-color: transparent;
}

p + p {
  padding-top: .5rem;
}


