@import url(./search.css);
@import url(./fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply pb-6;
  }

  h2 {
    @apply text-xl;
    @apply py-4;
  }

  h3 {
    @apply text-lg;
    @apply py-4;
  }
}

html,
body {
  font-size: 16px;
  font-family: matter, arial, sans-serif;
  background: rgb(7, 10, 27);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #D8E1E1;
}

.badge {
  @apply border;
  line-height: 1.5;
}

.badge-primary {
  @apply text-color-secondary-700;
  @apply border-color-secondary-700;
}

.badge-secondary {
  @apply text-color-secondary-700;
  @apply border-color-secondary-700;
}

.badge {
  @apply px-2;
  @apply rounded-md;
}

.badge-outline {
  @apply border;
}

input:focus-visible {
  @apply outline-none;
}

.text-tiny {
  font-size: 9px;
}

input[type="search"] {
  -webkit-appearance: none;
}

.feature {
  font-family: cako, Matter, Arial, sans-serif;
}

.external-link:hover:after {
  content: " \2197";
  color: white;
}

.internal-link:hover h2 {
  color: #02E0B9;
}

.internal-link:hover h2:after {
  margin-left: 10px;
  content: "\2192";
  color: #02E0B9;
}

.internal-link:hover h4 {
  color: #02E0B9;
}

.internal-link:hover h4:after {
  margin-left: 6px;
  content: "\2192";
  color: #02E0B9;
}

.fave-link:hover:after {
  margin-left: 10px;
  content: "\2192";
  color: #ffcde5;
}

.field input {
  background-color: transparent;
}

p + p {
  padding-top: .5rem;
}

table td, table th {
  vertical-align: text-top;
  padding: 1rem;
}

th {
  font-family: matter-semibold, Arial, sans-serif;
}

.editorial {
  white-space: normal;
}

.editorial h3 {
  padding-top: 2rem;
}

.editorial ul {
  margin: 0;
  padding: 0;
}

.editorial li {
  list-style: disc;
  padding: .25rem 0;
  margin-left: 1rem;
}

.editorial a {
  text-decoration: underline;
}

.editorial a:hover {
  color: #02E0B9;
}
.bg-request-1000 {
  background-color: #ffcde5;
}
.bg-approved-1000 {
  background-color: #02E0B9;
}
.bg-rejected-1000 {
  background-color: #121b05;
}
.bg-todo-1000 {
  background-color: #ffcde5;
}
.bg-doing-1000 {
  background-color: #7b91e6;
}
.bg-done-1000 {
  background-color: #02E0B9;
}