@import url(./search.css);
@import url(./fonts.css);
@import url(./editorial.css);
@import url(./table.css);


:root, html[data-theme="light"] {
  --primary: #00e0b9;
  --primary-dark: #00e0b9;
  --border-primary: #ffcde5;
  --border-secondary: #f3f3f3;
  --border-tertiary: #cdc7c3;
  --p-bg: #fff;
  --bg-01: rgba(255,255,255,.8);
  --bg-02: rgba(53, 115, 110, 1);
  --bg-03: rgba(29, 60, 67, 1);
  --bg-card: rgba(255, 255, 255, .1);
  --bg-card-hover: rgba(255, 255, 255, .05);
  --bg-card-secondary: rgba(255, 255, 255, .1);
  --bg-card-secondary-hover: #05121B;
  --bg-form: #cccccc;
  --bg-input: rgba(255, 255, 255, .1);
  --bg-search: rgba(53, 115, 110, .95);
  --secondary: #ffcde5;
  --tertiary: #4e3689;
  --txt-hover: #ffffff;
  --txt-primary: #000;
  --txt-secondary: #ffcc77;
  --txt-inverted: #05121B;
  --black: #05121B;
  --card-inner: 0;
  --gap-sm: 8;
  --todo: #ffcde5;
  --doing: #4e3689;
  --done: #00e0b9;
  --request: #ffcde5;
  --approved: #00e0b9;
  --rejected: #4e3689;
}

html[data-theme="canto"] {
  --p-bg: #060707;
  --primary: #57f597;
  --primary-dark: #00e0b9;
  --border-primary: #57f597;
  --border-secondary: #57f597;
  --border-tertiary: #57f597;
  --bg-01: rgba(255,255,255,.8);
  --bg-02: rgba(53, 115, 110, 1);
  --bg-03: rgba(29, 60, 67, 1);
  --bg-card: transparent;
  --bg-card-hover: rgba(255, 255, 255, .05);
  --bg-card-secondary: #347d52;
  --bg-card-secondary-hover: #05121B;
  --bg-form: #cccccc;
  --bg-input: rgba(255, 255, 255, .1);
  --bg-search: rgba(53, 115, 110, .95);
  --secondary: #57f597;
  --tertiary: #4e3689;
  --txt-hover: #ffffff;
  --txt-primary: #51e38c;
  --txt-secondary: #ffcc77;
  --txt-inverted: #05121B;
  --black: #05121B;
}

html[data-theme="pink"] {
  --primary: #fcdbe4;
  --primary-dark: #f91c9a;
  --border-primary: #fff;
  --border-secondary: #f91c9a;
  --border-tertiary: #ffffff;
  --p-bg: #fcdbe4;
  --bg-01: #fcdbe4;
  --bg-02: #ffc3c3;
  --bg-03: #fcdbe4;
  --bg-card: #ffffff;
  --bg-card-hover: rgba(255, 255, 255, .7);
  --bg-card-secondary: #fcdbe4;
  --bg-card-secondary-hover: #f1f1f1;
  --bg-form: #cccccc;
  --bg-input: #ffffff;
  --bg-search: #ffffff;
  --secondary: #00e0b9;
  --tertiary: #4e3689;
  --txt-primary: #05121B;
  --txt-secondary: #05121B;
  --txt-hover: #05121B;
  --txt-inverted: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
    @apply py-4;
    font-family: berkeley-bold, matter-semibold, Arial, sans-serif;
  }

  h2 {
    @apply text-xl;
    @apply py-2;
    font-family: berkeley-bold, Arial, sans-serif;
  }

  h3 {
    @apply text-lg;
    @apply py-2;
    font-family: berkeley-bold, Arial, sans-serif;
  }

  h4 {
    @apply py-1;
    font-family: berkeley-bold, Arial, sans-serif;
  }
}

html,
body {
  font-size: 16px;
  font-family: berkeley-regular, matter, arial, sans-serif;
}

input:focus-visible {
  @apply outline-none;
}

input[type="search"] {
  -webkit-appearance: none;
}

.internal-link h2, h2.internal-link,
.internal-link h3, h3.internal-link,
.internal-link h4, h4.internal-link {
  border-bottom: 1px solid var(--border-primary);
  margin-bottom: .5rem;
}

.external-link {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.internal-link {
  cursor: pointer;
}

.internal-link:hover h2, h2.internal-link:hover,
.internal-link:hover h3, h3.internal-link:hover,
.internal-link:hover h4, h4.internal-link:hover,
.external-link:hover {
  border-bottom: 1px solid var(--border-primary);
}

.internal-link h2:after, h2.internal-link:after {
  padding-left: 8px;
  content: "\2192";
  visibility: hidden;
}

.internal-link:hover h2:after, h2.internal-link:hover:after,
.internal-link:hover h3:after, h3.internal-link:hover:after,
.internal-link:hover h4:after, h4.internal-link:hover:after  {
  visibility: visible;
}

.field input {
  background-color: transparent;
}

p + p, ul + p {
  padding-top: 1.25rem;
}